@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer base {
  :root {
    --color-primary: #5c6ac4;
  }
}

.bg-gradient {
  background: linear-gradient(180deg, #469df1 0%, #466cf1 100%);
}

body {
  font-family: "Inter", sans-serif;
}
